body {
  text-align: center;
  margin: 0px;
  font-size: 1.3em;
  color: #40514E;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
  color: #11999E;
}


hr {
  border-style: dotted none none;
  color: #EAF6F6;
  width: 5%;
  border-width: 8px;
  margin: 100px auto;
}

p {
    line-height: 2;
}

.skill-row {
  width: 50%;
  margin:100px auto;
  text-align: left;
}

.naruto-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.maplestory-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 30%;
  margin: 0px auto;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #007373);
  background-image: -moz-linear-gradient(top, #66BFBF, #007373);
  background-image: -ms-linear-gradient(top, #66BFBF, #007373);
  background-image: -o-linear-gradient(top, #66BFBF, #007373);
  background-image: linear-gradient(to bottom, #66BFBF, #007373);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  color: #EAF6F6;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  margin: 10px 20px;
  font-size: 1.1rem;
  font-family: 'Caveat', cursive;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.name2023 {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;

}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
